*{
    margin:0%;
    padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
background-color: rgb(44, 44, 44);
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    color: antiquewhite;
    
}

section{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 10px;
    
    
}
.allreels{
        height: 100%;
        width: 100%;    
        overflow: auto;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar{
            display: none;
        }
        
        .reel{
            width: 100%;
            height: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        video{
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
        .bottom{
                padding: 30px 20px;
                width: 100%;
                background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.812));
                position: absolute;
                bottom: 0;
                
                .user{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom:10px;

                    h4{
                        font-size:23px;
                        font-weight: 400;
                    }

                    button{
                        padding: 3px 7px;
                    }
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: rgba(0, 255, 255, 0);
                        border-radius: 5px;
                        border: 1px solid white;
                        color: wheat;
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 18px;
                }
            }
            .right{
                padding: 30px ;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 18px;
                width: 40px;
                position:absolute;
                right: 0;
                bottom: 10%;
                
                h4{
                    font-size: 20px;
                    font-weight: 300;
                    cursor: pointer;
                    pointer-events: none;
                    
                    
                    #love{
                        color: red;
                    }
                    
                }
                h6{
                    font-size: 15px;
                    font-weight: 500;
                    color: rgb(255, 255, 255);
                    pointer-events: none;

                }
                
            }
        }
    }
 
                .mute{
                    background-color: #2f2f2f;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    top: 2rem;
                    right: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    position: absolute;
                    color: wheat;
                    z-index: 10;
                
                    i{
                        font-size: 22px;
                        color:wheat;
                        pointer-events: none;

                    }
                }
                .mute:active{
                        scale: 0.95;
                    }
