* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: wheat;
  background-image: url(https://images.unsplash.com/photo-1622737133809-d95047b9e673?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#ctn {
  height: 400px;
  width: 90%;
  background-color: rgba(47, 47, 48, 0.473);
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  display: inline-flex;
}
#ctn .white {
  background-color: rgb(99, 99, 99);
  width: 100px;
  margin: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
#ctn .white:active {
  scale: 0.9;
}