*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family:monospace;
color: white;
background-color: rgb(22, 22, 22);
display: flex;
justify-content: center;
align-items: center;
}
p{
    font-size:150px;
    background:linear-gradient(rgb(255, 215, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    object-fit: cover;
}