*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(19, 18, 18) ;
}
.box {
    height: 350px;
    width: 250px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.red {
    background-image: url(https://i.pinimg.com/736x/c4/36/4a/c4364ac2e27f93678e9df1231fcd66d9.jpg);
    background-size: cover;
}

.blue {
    background-image: url(https://i.pinimg.com/736x/a5/c8/1d/a5c81d6cb0981e0fd2fabecf1eba949f.jpg);
        background-size: cover;
}

.green {
    background-image: url(https://i.pinimg.com/736x/c5/fb/fa/c5fbfaf67f0811b667690b763232ffaf.jpg);
    background-size: cover;
}
.box:hover{
    scale: 1.3 !important;
    opacity: 100% !important;
}
/* body agar tumhare paas ek aisa element hai jiska class box hai agar uspe hover ho toh tumhare andar jitne bhi box hai uska scale chota kar do */
body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 20%;
}