* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
  background-color: rgb(64, 64, 64);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

#card {
  height: 370px;
  width: 270px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
#card img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
#card h3 {
  font-size: 30px;
  padding: 5px;
  color: rgb(6, 255, 172);
  white-space: nowrap;
}
#card h4 {
  font-size: 20px;
  padding: 5px;
}
#card p {
  padding: 0px 20px 0px 20px;
}