*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
background-color: rgb(45, 45, 45);
} 
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}
button{
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    background-color: white;
    font-family: monospace;
    font-weight: 500;
}
button:active{
    scale: 0.9;
}