*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    padding: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    height: 200px;
    width: 400px;
    background-color: rgb(141, 221, 255);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    font-size: 60px;
}