* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
}
main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 38px;
  display: flex;
  align-items: center;
}

#ctn {
  height: 400px;
  width: 90%;
  background-color: rgba(47, 47, 48, 0.473);
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  display: inline-flex;

  .white {
    background-color: rgb(99, 99, 99);
    width: 100px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
  }
  .white:active {
    scale: 0.9;
  }
}
