*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    
}
@keyframes rotateAnimations {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg
    }


}

#card {
    max-width: 350px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 14px;
    box-shadow: 0 0 0px #ff4d00;
    border: 0px solid rgba(255, 255, 255, 0); 
    background:
    linear-gradient(rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate), black,#ff4d00,black) border-box;
    animation: rotateAnimations 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
}

#card:hover{
    animation-play-state: running;
    border-width: 5px ;
    box-shadow: 0 0 50px #ff4d00;
    color: #ff4d00;
    text-shadow: 0 0 3px #ff4d00;
    }
#card img{
    width: 100%;
    object-fit: cover;
}
#card h3{
font-size: 30px;
font-weight: 400;
}